#container{
display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: grid;  
  grid-columns: 1fr 4fr 1fr;
  grid-rows: 1fr 1fr 1fr;
 
}

#leinwand{
grid-columns: 2;
grid-rows: 2;


}

#tool {

grid-columns: 1;
grid-rows: 1;
}


#c1{
background-color: white;
box-shadow: 3px 3px 3px 3px gray;
}


body{
background-color: gray;
}



.notselected {
width: 25px; 
height: 25px;
margin-top: 5px;
margin-right:10px;
display: block; 
 border: 3px solid silver; 
 border-radius: 5px;
 background-color:#e6e6e6;
 }
 
  .Selected {
 width: 25px; 
height: 25px;
margin-top: 5px;
display: block; 
 border: 3px solid #706934; 
 border-radius: 5px;
 background-color: #706934;
}

 
 





